/* .project {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .project img {
    width: 100%;
    height: auto;
  }
  
  .project h3, .project p {
    margin: 5px 0;
  }
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  margin: 10px;
  text-align: center;
}   */



/* .project {
  display: inline-block;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project h3, .project p {
  margin: 5px 0;
}
.project:hover {
  border-color: #f00; 
} */




.project {
  display: inline-block;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, border-color 0.3s;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project h3,
.project p {
  margin: 5px 0;
}

.project:hover {
  /* border-color: rgb(47, 11, 193);  */
  transform: scale(1.05); /* Adjust the scale value to your desired enlargement */
}
